# Build
/build/
/dist/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log
/builds/

# Binaries
*.exe
*.dll
*.so
*.dylib
*.app

# Obj files
*.o
*.obj
*.a
*.lib
*.pdb
*.ilk
/Android/androidBuild/app/build/commandlinetools-linux-11076708_latest.zip

# User/IDE
.vscode/
.idea/
*.user
*.suo
*.vcxproj*
*.sln

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Local outputs
out*/
/source_test

# Logs
*.log

# Android compiladores

/Android/androidBuild/app/bin
/Android/androidBuild/app/bin/*
# /Android/androidBuild/cpp/build
# /Android/androidBuild/cpp/build/*

# scripts drive, esto sera para test rapido
/Android/androidBuild/scripts/
/Android/androidBuild/scripts/*